/* Navbar */

.navbar {
  background-color: rgb(223, 65, 152);
  height: 80px;
}

.navbar a {
  color: white;
  margin-left: 15px;
}

.navbar-brand {
  width: 50px;
  padding-left: 8px;
}

@media (max-width: 991.98px) {
  .navbar-toggler-icon {
    background-color: white;
  }

  .navbar-collapse.collapse.show .navbar-nav .nav-link {
    color: black;
  }
}

/* Landing page */

#home {
  height: 100vh;
  width: 100%;
  background: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* form1 */

#form1 {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(254, 253, 253);
  width: 420px;
  height: 540px;
  font-size: 14px;
  position: absolute;
  top: 20%;
  left: 35%;
  bottom: 20%;
}

.l-heading {
  text-align: center;
  margin-top: 5px;
}
.room-rates {
  border: 2px solid rgb(245, 245, 248);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 170px;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 30%;
}

.input-container {
  position: relative;
  top: 35%;
}

.input {
  display: flex;
  flex-direction: row;
}

.input input {
  width: 150px;
}

#input1 {
  height: 80px;
  padding-left: 30px;
}

.name {
  width: 50px;
}

.checkin {
  width: 50px;
  margin-left: 150px;
}

#input2 {
  height: 80px;
  padding-left: 30px;
}

.day-info {
  width: 50px;
}

.person-info {
  width: 50px;
  margin-left: 150px;
}

#input3 {
  padding-left: 30px;
}

.amen select {
  margin-left: 110px;
  width: 100px;
}

.l-btn {
  margin-left: 100px;
  margin-top: 40px;
  width: 200px;
  padding: 5px;
  background-color: rgb(223, 65, 152);
  border-radius: 10px;
}

/* form2 */

#form2 {
  display: none;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(254, 253, 253);
  width: 420px;
  height: 560px;
  font-size: 14px;
  position: absolute;
  top: 20%;
  left: 35%;
  bottom: 20%;
}

.l-heading {
  text-align: center;
  margin-top: 5px;
}

.room-rates {
  border: 2px solid rgb(245, 245, 248);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 170px;
  text-align: center;
}

.f-name {
  position: absolute;
  top: 70%;
  left: 60%;
  font-size: 15px;
}

.input-container2 {
  position: relative;
  top: 45%;
}

.input2 {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.detail1 {
  margin-left: 50px;
  display: flex;
}

.detail1 p {
  margin-left: 5px;
}

#d2 {
  margin-left: 80px;
}

.a-payment {
  display: flex;
  margin-left: 100px;
}

.a-payment input {
  width: 100px;
  margin-left: 5px;
}

.form2-btn {
  display: flex;
}
.l-btn2 {
  margin: 30px;
  width: 200px;
  padding: 5px;
  background-color: lightblue;
  border-radius: 10px;
}

.l-btn3 {
  margin: 30px;
  width: 200px;
  padding: 5px;
  background-color: rgb(223, 65, 152);
  border-radius: 10px;
}

/* form3 */

#form3 {
  display: none;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(254, 253, 253);
  width: 420px;
  height: 540px;
  font-size: 14px;
  position: absolute;
  top: 20%;
  left: 35%;
  bottom: 20%;
}

.l-heading {
  text-align: center;
  margin-top: 5px;
}

.room-rates {
  border: 2px solid rgb(245, 245, 248);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 170px;
  text-align: center;
}

.f-name {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 15px;
}

.input-container3 {
  position: relative;
  top: 40%;
  margin-bottom: 40px;
}

.input3 {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.detail2 {
  margin-left: 50px;
  display: flex;
}

.detail2 p {
  margin-left: 5px;
}

#balance {
  margin-left: 140px;
}

.form2-btn {
  display: flex;
}

.l-btn4 {
  margin: 30px;
  width: 200px;
  padding: 5px;
  background-color: rgb(223, 65, 152);
  border-radius: 10px;
}

.l-btn5 {
  margin: 30px;
  width: 200px;
  padding: 5px;
  background-color: rgb(223, 65, 152);
  border-radius: 10px;
}

/* card */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 18rem;
}

.btn {
  background-color: rgb(223, 65, 152) !important;
}
/* room services */

h2 {
  text-align: center;
  margin-top: 20px;
}

.services-heading {
  margin-top: 20px;
}

.room-container {
  padding-left: 350px;
  margin-top: 40px;
}

.room img {
  height: 500px;
  width: 400px;
}

.room-cont {
  border: 2px solid black;
  height: 500px;
  width: 400px;
  text-align: center;
  padding-top: 100px;
}

.room-cont:hover {
  background-color: rgb(223, 65, 152);
  color: white;
}

#room1 {
  display: flex;
}

#room2 {
  display: flex;
}

.r-btn a {
  text-decoration: none;
  color: black;
}

.r-btn {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

/* testimonial */

.client-heading {
  margin-top: 20px;
}
.test-container {
  display: flex;

  padding-left: 150px;
  margin-top: 80px;
}

.testimonial-container {
  width: 400px;
  height: 180px;
  background-color: rgb(223, 65, 152);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  min-width: 400px;
  padding: 70px 20px;
  margin: 5px;
  color: black;
  position: relative;
}

.testimonial-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
}

.username {
  font-size: 13px;
  font-weight: 100;
}

/* contact */

.contact {
  margin-top: 20px;
}

.contact-container {
  background-color: rgb(223, 65, 152);
  height: 300px;
  text-align: center;
  padding-top: 100px;
}

.contact a {
  text-decoration: none;
  color: black;
}

.contact button {
  border-radius: 10px;
  padding: 5px;
}

footer {
  background-color: rgb(28, 27, 27);
  color: white;
  text-align: center;
}

/* media queries */

@media (max-width: 768px) {
  
  #home {
    flex-direction: column;
  }

  #form1 {
    position: relative;
    margin: 20px auto;
    top: 30%;
    left: auto;
    right: 5%;
  }

  #form2 {
    position: relative;
    margin: 20px auto;
    top: 10%;
    left: auto;
  }

  #form3 {
    position: relative;
    margin: 20px auto;
    top: 10%;
    left: auto;
  }

  /* card */

  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
  }

  /* room services */

  h2 {
    text-align: center;
    margin-top: 20px;
  }

  .services-heading {
    margin-top: 20px;
  }

  .room-container {
    padding-left: 160px;
    margin-top: 40px;
   
  }

  .room img {
    height: 200px;
    width: 200px;
  }

  .room-cont {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  }

  .room-cont p {
    font-size: 10px;
  }
  .room-cont:hover {
    background-color: rgb(223, 65, 152);
    color: white;
  }

  #room1 {
    display: flex;
  }

  #room2 {
    display: flex;
  }

  .r-btn a {
    text-decoration: none;
    color: black;
  }

  .r-btn {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
  }

  /* testimonial */

  .test-container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }

  .testimonial-container {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  /* landing page */

  #home {
    flex-direction: column;
    background: none;
    background-size: 100% 100%;
  }

  #form1 {
    position: relative;
    margin: 20px auto;
    top: 10%;
    left: 20%;
    right: 5%;
    border-color: rgb(223, 65, 152);
  }

  #form2 {
    position: relative;
    margin: 20px auto;
    top: 10%;
    left: auto;
  }

  #form3 {
    position: relative;
    margin: 20px auto;
    top: 10%;
    left: auto;
  }

  /* card */

  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 180px;
  }

  /* room services */

  .services-heading {
    text-align: center;
    margin-top: 20px;
    margin-left: 180px;
  }

  .room-container {
    width: 60px;
    margin-top: 40px;
   padding-right: 200px;
  
  }

  .room img {
    height: 200px;
    width: 150px;
  }

  .room-cont {
    height: 200px;
    width: 200px;
    font-size: 15px;
  }

  .room-cont p {
    display: none;
  }
  .room-cont:hover {
    background-color: rgb(223, 65, 152);
    color: white;
  }

  #room1 {
    display: flex;
  }

  #room2 {
    display: flex;
  }

  .room-cont {
    text-align: center;
    padding-top: 10px;
  }

  .r-btn a {
    text-decoration: none;
    color: black;
  }

  .r-btn {
    padding: 3px;

    font-size: 15px;
  }

  /* testimonial */

  .client-heading {
    margin-left: 150px;
    display: none;
  }

  .testimonial-container {
    display: none;
  }

  /* contact */

  .contact-container {
    background-color: rgb(223, 65, 152);
    height: 300px;
    width: 600px;
    text-align: center;
    padding-top: 100px;
  }

  footer {
    width: 600px;
  }
}
